<form action="/records" method="POST" style="display: inline;">
  <div class="container-sm m-5" style="text-align: center">
    <div class="row mb-3">
      <div class="col-sm-2">
        <p style="font-size:10px">*必填欄位</p>
      </div>
      <div class="col-sm-3">
        <h5>請輸入你的支出</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label">名稱*：</label>
          <input class="form-control" type="text" style="width:200px; display:inline" placeholder="" name="name"
            required>
        </div>
        <div class="mb-3">
          <label class="form-label">日期*：</label>
          <input class="form-control" type="date" style="width:200px; display:inline" placeholder="" name="date"
            required>
        </div>
        <div class="mb-3">
          <label for="categoryId" class="form-label">類別*：</label>
          <select id="categoryId" name="categoryId" class="form-control" style="width:200px; display:inline" required>
            {{#each categories}}
              <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">金額*：</label>
          <input class="form-control" style="width:200px; display:inline" placeholder="" name="amount" required>
        </div>
        <button id="submit-btn" type="submit" class="btn btn-primary">新增支出</button>
      </div>
    </div>
  </div>
</form>